<div class="col-md-12 col-sm-12 col-xs-12 footer" data-aos="fade-up" data-aos-duration="3000">
    <hr style="background: orangered; height: 2px; border-radius: 50%; width: 90%;">
    <p style="padding: 0px;">@copyright 2021 all rights reserved</p>
    <div align="center" class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <p><i class="fa fa-phone"></i>: <a href="tel: +254-708-883057">+254-708-883057</a></p>
            <p><i class="fa fa-phone"></i>: <a href="tel: +254-725-468228">+254-725-468228</a></p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <p><i class="fa fa-envelope"></i>: 
                <a href="mailto: info@kpipes.co.ke" target="_blank">info@kpipes.co.ke</a>
            </p>
            <p><i class="fa fa-envelope"></i>: 
                <a href="mailto: sarah.muinamu@kpipes.co.ke" target="_blank">
                sarah.muinamu@kpipes.co.ke</a>
            </p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <p><i class="fa fa-twitter"></i>: 
                <a href="https://twitter.com/kpipess" target="_blank">@kpipess</a>
            </p>
            <p><i class="fa fa-facebook"></i>: 
                <a href="https://www.facebook.com/Kpipescentre/" target="_blank">@Kpipescentre</a>
            </p>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <p><i class="fa fa-instagram"></i>: 
                <a href="https://www.instagram.com/k_pipes_and_fittings/" target="_blank">
                @k_pipes_and_fittings</a>
            </p>
            <p><i class="fa fa-youtube"></i>: 
                <a href="https://www.youtube.com/channel/UCRRivmSErZUOvKbLNmOSbCA" target="_blank">
                @Kpipes and Fittings Center Ltd</a>
            </p>
        </div>
    </div>
</div>